<div *ngIf="compact == true">
    <div class="article">
        <div class="under">
            <h1><a class="link-title" [routerLink]="['/blog/', item?.seoTitle]">{{item?.title}}</a></h1>
            <p><strong>{{item?.published | date: 'mediumDate'}}</strong></p>
            <p>{{item?.shortContent}}</p>
        </div>
    </div>
</div>

<div *ngIf="compact == false">
    <div class="article-full">
        <h1>{{item?.title}}</h1>
        <h4>{{item?.published | date: 'mediumDate'}}</h4>
        <img src="/assets/{{item?.imageName}}">
        <div class="text" [innerHTML]="item?.content"></div>
    </div>
</div>
