<div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">[2023 - Present] Software engineer at Ness</h3>
          <p>Developing the supporting API for a CMS platform managing transport resources.</p>
            <p>Responsabilities include</p>
            <ul>
                <li>Consult specifications, implement API endpoints </li>
                <li>Raise discussions when endpoint requirements not respecting REST principles or conflict with other existing endpoints</li>
                <li>Periodically check for data structure updates, implement it in affected endpoints, regenerate object schemas and sample data</li><li>Add updates to data structure whenever required</li><li>Test API endpoints for performance, and for respecting specifications created in StopLight</li><li>Document any addition and modification of API endpoints</li><li>Gather bus stop information from a government API, implement custom flow for mapping into structures desired by our project.</li><li>Implement custom logic for sample data generation about buses arrivals and departures, as starting point for testing the application</li>
            </ul>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Dotnet Developer at Maxcode [2022 - 2023]</h3>
          <p>Projects and areas:</p>
        <h3>Healthcare</h3>
        <p>API & Backend software development for a solution in the healthcare industry.</p>
        <ul>
            <li>Develop Backend API functionality using .NET Core</li>
            <li>Architect and Deploy solution using AWS services</li>
            <li>Research technologies and build PoC for offline-accessible features, using Atlas Device Sync</li>
            <li>Build PoC/showcases for consumer app, using Kotlin</li>
        </ul>
        <h3>R&D</h3>
        <p>Research, brainstorm and implement PoCs for showcasing latest FinTech innovations & study cases</p>
        <ul>
            <li>Research on the legal framework in the EU for FinTech markets: PSD2</li>
            <li>Research on open banking, showcasing potential applications and TPPs available for integration, such as ibanXS, Nordigen</li>
            <li>Propose, debate and choose various topics for further expansion of technological know-how: digital identity, blockchain, personal finance management, A2A payments</li>
        </ul>
        <h3>Extra activities</h3>
        <ul>
            <li>Growing the tech community within Maxcode and Iasi, by holding presentations internally (Learning Club talks, Tech Labs) and externally - Innovative TechTalks 2022.</li>
            <li>Mentorship - review PRs, offer feedback, prepare presentations for groups of interns</li>
        </ul>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">[2022] Software Developer at Cognizant</h3>
          <p>Focused on design and front end areas, with special attention to achieving a legally required accessibility level for the web application in the pharmaceutical industry. Following guidelines emitted by W3C, most of my contribution consists in using following technologies and topics:</p>
        <ul>
            <li>semantic HTML, CSS</li>
            <li>vanilla JavaScript</li><li>ARIA attributes</li>
            <li>keyboard accessibility</li>
            <li>cross-browser screen reader compatibility</li>
            <li>focus indicators</li><li>form accessibility: clear validation messages</li>
        </ul>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Full stack Developer at 888 [2020 - 2022]</h3>
          <p>Full stack development using .NET &amp; Angular for a Back Office application, operating in the online gaming industry. The solution is complex, communicating with multiple departments across the company (e.g. financial, user history etc), and aggregating it into a simplified, easy to read dashboard. The UI is rich, split into diverse technologies on front end side, and benefitting from using a microservices structure on the backend side. Responsibilities:</p>
        <ul>
            <li>analyze, measure and improve solution with bug fixes and new features</li><li>participate in Agile ceremonies with estimations, requirements gathering, refinement, clarifying</li><li>test provided solutions end-to-end, in close collaboration with QA team</li>
            <li>prioritize high-impact PBIs, in special situations</li><li>integrate with current CI/CD pipeline process, suggest adjustments so that new developments integrate well into the flow</li><li>analyze business requirements, translate them into PBIs</li>
            <li>cost-benefit analysis of using unit tests into department</li>
        </ul>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">[2020 - ongoing] Content creator at Bittnet</h3>
          <p>One of my passion projects, the collaboration with Bittnet is a wonderful travel out of my comfort zone, and into the realm of content creation for the tech industry.</p>
          <p>Within this collaboration opportunity, I got to plan, organise, produce and deliver two full programming courses, aimed at setting the basic level of knowledge for junior software developers.</p>
          <p>The two classes I created were for the programming languages <a href="https://www.bittnet.ro/cursuri/bittlearn-academia-de-reconversie-net-c-developer/" target="_blank">C#</a> and <a href="https://www.bittnet.ro/cursuri/bittlearn-academia-de-reconversie-php-developer/" target="_blank">PHP</a>.</p>
          <p>My responsabilities include:</p>
            <ul>
                <li>Dividing content between smaller, easy to digest units and lessons</li>
                <li>Setting lesson plans and order of show for concepts</li>
                <li>Demonstrate programming concepts on screen, video record</li>
                <li>Provide voice-over explanations and details, annotations, organise speech in accessible, friendly tone</li>
                <li>Prepare after-lesson knowledge checks, mid-term quizzes and final exams</li>
                <li>Organise Q&A sessions with students, clarify concepts or exercises</li>
            </ul>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">[2018 - 2020] Freelance .NET developer</h3>
          <p>A first project as a freelance arrangement, the collaboration with this product in the life extension community, <a href="https://liveforever.club/page/home" target="_blank">liveforever.club</a> is a fruitful, positive and fulfilling experience. I helped development of the CMS web solution for the life extension blog.</p>
          <p>Another accomplishment during this project is the contribution to the eBook sold by this organization. I helped on the design of the physical & electronic book. This one is currently available on <a href="https://www.amazon.co.uk/dp/B07LB17TNW/ref=as_li_ss_tl?ie=UTF8&linkCode=gs2&tag=s08a-21" target="_blank">Amazon</a>, and I am proud to have contributed to a publicly visible product that has such an ambitious goal in mind.</p>
        </div>
      </div>
    </div>
  </div>